/* BOF Login */
.redeem-page {
    background: #FCFCFC;
    height: 100vh;
}
.login-inner {
    width: 350px;
    margin: 0 auto;
}
.redeem-item input {
    width: 100%;
    margin-bottom: 10px;
    background: none;
    border: 0 none;
    border-bottom: 1px solid #DFDFE1;
    color: #131416;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: lighter;
}
.login-form {
    padding-top: 250px;
}

.redeem-item input[type="submit"] {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
    background: #4DB7A1;
    color: #fff;
    transition: all 1s;
    width: 70%;
    margin: 15px auto 0;
    display: block;
    border-radius: 80px;
}

.redeem-item input[type="submit"]:hover {
    background: #183a4b;
    color: white;
}

.error_info {
    text-align: center;
    border: 2px solid #ea4242;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 5px;
    color: #ea4242;
    background: #ffffff;
}
/* EOF login */

html body {
    font-family: "Poppins",sans-serif!important;
    font-size: 12px;
    font-weight: lighter;
    color: #636d6f;
}
header {
    height: 60px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
    box-shadow: 1px 1px 10px rgba(160,168,176,.25);
}

.main_content {
    background: #183a4b;
    position: relative;
}

.sidebar_main {
    position: absolute;
    width: 250px;
}

.content_main {
    position: relative;
    margin-left: 250px;
    display: block;
    padding: 40px 25px;
    background: #f7f7f7;
    height: 100vh;
}

.client.content_main {
    margin: 0;
}

.client_inner {
    max-width: 980px;
    margin: 0 auto;
}

.content_main h1 {
    font-size: 26px;
    margin-bottom: 46px;
}

.client_inner h1 {
    margin-bottom: 15px;
}

.main_tab.nav-tabs {
    border-bottom: 1px solid #edeef0;
}
.main_tab > a.nav-link {
    color:#636d6f;
    border: 0 none;
    border-bottom: 2px solid #f7f7f7;
    margin: 0;
    background: none;
    text-transform: capitalize;
}
.main_tab > a.nav-link.active,
.main_tab > a.nav-link:hover {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #4db7a1;
    color: #4db7a1;
    margin: 0;
    background: none;
}

.dmain-content > nav {
    margin-bottom: 25px;
}

table.products_table {
    font-size: 12px;
    border: 0 none;
}

table.products_table tr th,
table.products_table tr td {
    border: 0 none;
}

table.products_table thead {
    background: #fcfcfc;
}

table.products_table thead tr th {
    color: #a0a8b0;
    font-weight: lighter;
    font-size: 12px;
}

table.products_table tr.odd {
    background: #ffffff !important;
}

table.products_table tr.even {
    background: #f7f7f7 !important;
}

table.products_table tr td {
    border-top: 1px solid #ebecef;
    font-weight: lighter;
    font-size: 12px;
    color: #222324;
    padding: 15px 10px;
    vertical-align: middle;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a.active {
    color: #fff;
}

.sidebar ul li a {
    color: #6e899e;
    padding: 15px 30px;
    display: block;
    font-weight: bold;
}

ul.dactions {
    margin: 0;
    padding: 0;
}

ul.dactions li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

ul.dactions li a {
    color: #596366;
}

.dlicensemodal .modal-header {
    border: 0;
}

.modal_content label {
    font-weight: bold;
}

.modal_content input[type="text"] {
    background: none;
    font-size: 12px;
    padding: 0;
    border: 0;
    margin-left: 15px;
    font-weight: lighter;
}

.dlicensemodal .modal-header h5#license_1 {
    font-size: 16px;
    line-height: 1em;
    margin-top: 5px;
}

.ddroplc:hove

.dlicensemodal .modal-footer button.btn.btn-secondary {
    font-weight: lighter;
    border: 1px solid #4db7a1;
    background: none;
    color: #4db7a1;
    border-radius: 25px;
    font-size: 14px;
}

ul.lcdropdown {
    margin: 0;
    padding: 0;
    position: absolute;
    background: white;
    right: 15px;
    display: none;
}

ul.lcdropdown li {
    display: block;
}

ul.lcdropdown li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    line-height: 1em;
    text-decoration: none;
    text-transform: capitalize;
}
ul.lcdropdown li a:hover {
    background: #6fccb8;
}

.ddroplc:hover .lcdropdown {
    display: block;
}

.dadmin-image > * {
    display: inline-block;
}

.dadmin-image {
    margin-top: 7px;
    text-align: right;
    padding-right: 25px;
}

.dimageform {
    width: 45px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.dimageform img {
    width: 100%;
}

.dadmin-image > span {
    vertical-align: top;
    margin-top: 15px;
}

.sidebar {
    padding: 35px 0px;
}

.dclient_content {
    margin-bottom: 25px;
}

.dclient_content h2 {
    font-size: 18px;
}

.dclient_content .into_desc {
    font-size: 15px;
}

.dcp_items {
    margin-bottom: 15px;
}

.dcp_inner {
    background: #fff;
    padding: 35px 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #e6e4e4;
}

.dcp_inner h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.dcp_inner .dbuttonside {
    text-align: right;
}

.dcp_inner .dbuttonside a {
    background: none;
    color: #4db7a1;
    border: 1px solid #4db7a1;
    font-size: 14px;
    padding: 13px 15px;
    border-radius: 30px;
    line-height: 1em;
}

.si_item_inner {
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px #e6e4e4;
    border-radius: 5px;
    position: relative;
}

.si_item_inner h2 {
    padding: 25px 30px;
    font-size: 18px;
    line-height: 1em;
    color: #000;
}

.si_item_inner .dtables {
    border-top: 1px solid #ebecef;
}

.si_item_inner h1 {
    padding: 20px 30px 15px;
    line-height: 1em;
    font-size: 23px;
    color: #000;
}

.si_item_inner .dsubinfo ul {
    margin: 0;
    list-style: none;
    padding: 15px 30px 20px;
}

.si_item_inner .dsubinfo ul li {
    margin-bottom: 5px;
    font-size: 12px;
}

.si_item_inner .dsubinfo ul li span.isactive {
    color: green;
}

.si_item_inner .products_table a {
    color: #3b3c3c;
    font-weight: normal;
    border: 1px solid #3b3c3c;
    padding: 10px 15px;
    line-height: 1em;
    display: inline-block;
}

.si_item_inner .products_table a:hover {
    text-decoration: none;
}

table.products_table thead tr th:first-child,
table.products_table tr td:first-child {
    padding-left: 30px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs {
    margin-bottom: 15px;
}

.breadcrumbs a {
    color: #3b3c3d;
}

.ddrop {
    display: none;
}

.ddrop {
    position: absolute;
    background: white;
}

.doptions:hover .ddrop {
    display: block;
}

 .si_item_inner .products_table .doptions ul li a:hover {
     background: #fbfafa;
 }

.ddrop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ebecef;
}

.doptions {
    display: inline-block;
}

.doptions > i {
    cursor: pointer;
    border: 1px solid #a6adb3;
    line-height: 1em;
    padding: 7px;
    color: #3b3c3c;
    border-radius: 5px;
}

.si_item_inner .products_table .ddrop ul li a {
    font-weight: lighter;
    padding: 7px 27px;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid #ebecef;
    border-top: none;
    border-left: none;
    border-right: none;
}

.dm_middle {
    text-align: center;
}

.dm_middle h2 {
    font-weight: lighter;
    padding: 15px 0;
}

.dm_options {
    text-align: center;
}

.dm_options button {
    font-size: 14px;
    font-weight: lighter;
    margin: 0 10px;
}

span.dproductsub p {
    margin: 0;
}

.get_invoice {
    cursor: pointer;
}

.inv_item {
    margin-bottom: 10px;
}

.item_license {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.bill-to-sectin h3 {
    font-weight: lighter;
    font-size: 14px;
    background: #132e57;
    color: #fff;
    padding: 3px 15px;
}

.inv_value.full_name {
    font-size: 12px;
    margin-left: 15px;
}

.inv_sub_val {
    font-size: 12px;
    margin-left: 15px;
}

.order-list {
    margin-top: 15px;
}

.order-list table {
    width: 100%;
}

.order-list table tr th {
    background: #132e57;
    color: #fff !important;
    font-size: 12px !important;
    padding: 5px;
}

.invoice-sector h3 {
    background: #132e57;
    color: #fff;
    font-size: 12px;
    padding: 3px 15px;
    font-weight: lighter;
    text-align: right;
}

.modal-header.billing-modal {
    padding: 5px 15px;
}

.invoice-sector .invoice-num {
    text-align: right;
    padding-right: 15px;
}

a.signoutbutton {
    padding: 5px 15px;
    background: #47b8a2;
    color: #fff;
    margin-left: 20px;
    border-radius: 5px;
}

a.signoutbutton:hover {
    text-decoration: none;
}

.formitem input[type="text"] {
    width: 100%;
    border: 1px solid grey;
    margin: 0 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.formitem input[type="submit"] {
    background: #183a4b;
    color: #fff;
    padding: 10px 15px;
    border: 0 none;
    border-radius: 5px;
    text-transform: uppercase;
}

.d-change-domain-note {
    text-align: center;
    margin-bottom: 15px;
}

.d-change-domain-note strong {
    display: block;
    font-size: 18px;
    padding-top: 5px;
}

.notifbar {
    background: #f15555;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.notifbar a {
    background: #47b8a2;
    border: 1px solid #47b8a2;
    padding: 5px 15px;
    margin-left: 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.notifbar a:hover {
    text-decoration: none;
    color: #fff;
    background: #77a59c;
    border: 1px solid #47b8a2;
    
}

.dmain_submit {
    text-align:right;
}

.dmain_submit input[type="submit"] {
    background: #47b8a2;
    color: #fff;
    font-weight: lighter;
    border: 1px solid #47b8a2;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 13px;
    text-transform: uppercase;
}

.user_information .form-group input[type="text"], .user_information .form-group input[type="password"] {
    border: 1px solid #636d6f;
    padding: 8px 15px;
    border-radius: 3px;
}

.error_message_form {
    background: #f15555;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
}

.product_info img {
    width: 100% !important;
}

.downloadplugin {
    position: absolute;
    right: 0;
}

.downloadplugin a {
    display: inline-block;
    padding: 10px 25px;
    background: #47b8a2;
    color: #fff;
    margin: 25px;
    border-radius: 5px;
}

.downloadplugin a:hover {
    text-decoration: none;
    color:#fff;
}

.si_item_inner h1.dtransacerror {
    text-align: center;
    padding: 50px 0;
}

.redeem-inner {
    width: 500px;
    margin: 0 auto;
}



.redeem-form {
    box-shadow: 0px 4px 10px rgba(189, 189, 189, 0.25);
    border-radius: 4px;
    padding: 40px;
    display: block;
    width: 580px;
}

.redeem-header {
    width: 580px;
    margin-top: 100px;
}

.redeem-logo img {
    width: 100%;
}
.redeem-desc {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
}

.derrorpart {
    text-align: center;
    background: #b9515f;
    color: #fdff;
    border: 1px solid #de2e46;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 5px;
}

.dsucecss-message {
    text-align: center;
    color: #27AE60;
}
.dsucecss-message .dicon {
    margin-bottom: 10px;
}
.dsucecss-message .dicon i {
    font-size: 20px;
}
.dsucecss-message .dmessage {
    font-size: 16px;
}

.dgoto a {
    background: #28b59f;
    color: #fff;
    padding: 15px 45px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 80px;
    font-size: 14px;
}

.dgoto a:hover {
    color: fff;
    text-decoration: none;
}

.dgoto a i {
    font-size: 14px;
    margin-left: 10px;
    vertical-align: baseline;
    display: inline-block;
}

.dinformatopon input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    background: none;
    border: 0 none;
    border-bottom: 1px solid #DFDFE1;
    color: #131416;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.dmessafe {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.dreser a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
    background: #4DB7A1;
    color: #fff;
    transition: all 1s;
    width: 70%;
    margin: 15px auto 0;
    display: block;
    border-radius: 80px;
    padding: 15px;
    text-align: center;
}